 
 
    <div class="container-fluid col-lg-4 col-md-4 col-sm-4 mt-3 custom-panel d-flex flex-column align-items-left justify-content-left">
        <div class="row  col-lg-12 col-md-12 col-sm-12 custom-panel" style="margin-top: 100px;">
            <div class=" col-lg-12 col-md-12 col-sm-12 min-vh-100 " style="background-color: #ffffff;">
                <div class="rounded-3 w-25 border-primary" style="background-color:#ffffff;position: fixed;">
                    
                    <a href="" class="d-flex text-decoration-none mt-1 align-items-center text-white    ">
                        <span class="fs-4 d-none d-sm-inline border-dark text-dark ms-2">Admin Panel</span>
                    </a>
                    <ul class="nav nav-pills flex-column mt-4 grid-2 border-dark gap-2" >
                        <li class="nav-item border border-dark rounded-2">
                            <a href="/adminDashBoard" class="nav-link text-white">
                                <i class="fs-4 fa fa-table-list text-dark"></i><span
                                    class="fs-5 ms-2 d-none d-sm-inline display-6 text-dark">Home</span></a>
                        </li>
                        <li class="nav-item border border-dark rounded-2">
                            <a href="/userList" class="nav-link text-white ">
                                <i class="fs-5 fa fa-users text-dark"></i><span
                                    class="fs-5 ms-2 d-none d-sm-inline display-6 border-1 text-dark">Users</span></a>
                        </li>
                        <li class="nav-item border border-dark rounded-2">
                            <a href="/productList" class="nav-link text-white border-1">
                                <i class="fs-5 fa fa-shirt text-dark"></i><span
                                    class="fs-5 ms-2 d-none d-sm-inline  display-6 border-1 text-dark">Products</span></a>
                        </li>
                        <li class="nav-item border border-dark rounded-2">
                            <a href="/addProduct" class="nav-link text-white border-1">
                                <i class=" fs-5 fa-solid fa-plus text-dark"></i><span class="fs-5 ms-2 d-none d-sm-inline  display-6 border-1 text-dark">Add product</span></a>
                        </li>
                        <li class="nav-item border border-dark rounded-2">
                            <a href="/addCoupons" class="nav-link text-white border-1">
                                <i class="fa-solid fa-ticket text-dark"></i><span class="fs-5 ms-2 d-none d-sm-inline  display-6 border-1 text-dark">Add Coupon</span></a>
                        </li>
                        <li class="nav-item border border-dark rounded-2">
                            <a href="/allOrders" class="nav-link text-white border-1">
                                <i class="fa-solid fa-truck text-dark"></i><span class="fs-5 ms-2 d-none d-sm-inline  display-6 border-1 text-dark">All orders</span></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
 