.profile-image {
  width: 48px;
  height: 38px;
}
.categories:hover {
  background-color: lightgrey;
}

#navbar {
  background-color: black;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#navbar a, #navbar button {
  color: black !important;
}

#navbar .fa-cart-shopping, #navbar .fa-user, #navbar #search-icon {
  color: black !important;
}


.scrolled-navbar {
  background-color: rgba(0, 0, 0, 0.8); 
  color: white;
}

.scrolled-navbar a, .scrolled-navbar button {
  color: white !important;
}

.scrolled-navbar .fa-cart-shopping, .scrolled-navbar .fa-user, .scrolled-navbar #search-icon {
  color: white !important;
}