.thumbnail{
    display: flex;
     justify-content: center;
}


.thumb-img {
    transition: 0.2s ease-out;
    
}

.thumb-img:hover {
    transform: scale(1.1);

}

.main-image {
    transition: 0.2s ease-in;
}

.main-image:hover {
    transform: scale(1.3);
}