<%- include('../header') %>

  <section class="vh-100" style="background-color: #35558a;" style="margin-top: 100px;">



    <div class="p-3   " id="exampleModal" tabindex="" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-body text-start text-black p-4">
            <h5 class="modal-title text-uppercase mb-5 text-success" id="exampleModalLabel">You are one Step Away!!!
            </h5>
            <p class="mb-0" style="color: #35558a;">Payment Mode : Cash On delivery</p>
            <hr class="mt-2 mb-4"
              style="height: 0; background-color: transparent; opacity: .75; border-top: 2px dashed #9e9e9e;">
          </div>
          <div class="modal-footer d-flex justify-content-center border-top-0 py-4">
            <a href="/orderSuccess?payment=cod" class="btn btn-primary btn-lg mb-1" style="background-color: #35558a;">
              Confirm Order
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('../footer') %>