<%- include('../header') %>


  <section class="vh-100" style="background-color: #35558a;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 text-center text-light">
        <h1>Order Placed SuccessFully...!!!</h1>
        <div class="col">
          <a href="/myOrders" class="btn btn-light btn-lg">
            <i class="fas fa-info me-2"></i> view Orders
          </a>
        </div>
      </div>
    </div>
  </section>

  <%- include('../footer') %>